<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tech@-Planner</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form action="/tech-at-planner/" method="POST">
            <input type="text" name="thema" placeholder="Thema" th:value="${postedEvent != null ? postedEvent.thema : ''}"/>
            <input type="text" name="vortragende" placeholder="Vortragende" th:value="${postedEvent != null ? postedEvent.vortragende : ''}"/>
            <input type="date" name="date" placeholder="dd.MM.yyyy" />
            <input type="time" name="time" placeholder="HH:mm" />
            <button type="submit">Hinzufügen</button>
        </form>
        <p>
            <span th:text="${postedEvent} ?: 'Formular abschicken, um ein Event anzulegen oder ein Event zu verändern.'">
                Formular abschicken, um ein Event anzulegen oder ein Event zu verändern.
            </span>
        </p>
        <p>
            <!--<span th:text="${possibleTopics.topicsMessage}">Hier sollte der Themenspeicher zu sehen sein.</span>-->
        </p>
    </body>
</html>